body,h1 {
  font-family: "Raleway", sans-serif
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background: no-repeat center center; !important
  text-align: center;
}

p {
  color: white;
}

body, html {
  height: 100%
}

.bgimg {
  min-height: 100%;
  background-size: cover;
}

a:hover { 
  color: Crimson;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 0.5em;
}

footer p { 
  color: GhostWhite; !important 
}

